.env
.env/*
.venv
.venv/*
Frontend
Frontend/*
/Frontend/*
/Frontend/
/migartions/
migartions/*
migrations/
# Ignore uploaded files but keep the directory
static/uploads/*
!static/uploads/.gitkeep
!static/uploads/categories/*
!static/uploads/meals/*
!static/uploads/plans/*
